<% if @haikus == nil %>
  <h2>No haikus yet. Why don't you create the first one?</h2>
<% else %>
  <% @haikus.each do |haiku| %>
    <h2><%= haiku.title %></h2>
    <p><%= haiku.first_line %></p>
    <p><%= haiku.second_line %></p>
    <p><%= haiku.third_line %></p>
    <p><em><%= haiku.user.username %></em></p>
  <% end %>
<% end %>