<% @haikus.each do |haiku| %>
  <div>
    <h2><%= haiku.title %></h2>
    <p><%= haiku.first_line %><br />
    <%= haiku.second_line %><br />
    <%= haiku.third_line %></p>
    <p><em><%= haiku.user.username %></em></p>
  </div>
<% end %>