<!DOCTYPE html>
<html>
  <head>
    <title>HaikusWhenever</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <ul>
      <li><a href="#">Home</a></li>
      <% if logged_in? %>
        <li><a href="#">Account</a></li>
        <li><%= link_to "Logout", logout_path, method: :delete %></li>
      <% else %>
        <li><a href="/signup">Signup</a></li>
        <li><a href="#">Login</a></li>
      <% end %>
    </ul>
    <%= yield %>
  </body>
</html>
